<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net461" />
  <package id="Fody" version="6.0.6" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="3.2.2" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net452" />
  <package id="SNT.Tools" version="1.12.0" targetFramework="net461" />
  <package id="Zirpl.CalcEngine" version="1.0.17" targetFramework="net461" />
</packages>